@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
    /* ======= COMIX THEME ======= */
    /* ======= FONT ======= */
    --comix-font-family: 'Roboto', sans-serif;
    --comix-font-display: 'Orbitron', sans-serif;

    /* BTN COLOR & text */
    --comix-accent: #f59e0b;
    --comix-blue: oklch(0.75 0.16 232.66);

    /* BAdge Color */
    --comix-accent: #f59e0b; /* Primary accent (buttons, etc.) */
    --comix-badge-type: #f59e0b; /* Type badge (wattpad/webtoon) */
    --comix-badge-new: #398050; /* New badge (wattpad/webtoon) */

    /* chart */
    --chart-1: #f59e0b;
    --chart-2: oklch(0.75 0.16 232.66);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);

    /* ==============================// SHADECN ================================== */
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
    /* ======= COMIX ======= */
    --font-sans: var(--comix-font-family);
    --font-display: var(--comix-font-display);

    --color-comix-accent: var(--comix-accent);

    --color-comix-accent: var(--comix-accent);
    --color-comix-badge-type: var(--comix-badge-type);
    --color-comix-badge-new: var(--comix-badge-new);

    /* ==============================// SHADECN ================================== */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

.dark {
    /* chart */

    --chart-1: #f59e0b;
    --chart-2: oklch(0.75 0.16 232.66);

    /* ==============================// SHADECN ================================== */
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        /* min-width: 1280px; */
    }
}

/* ======= BACKGROUND PATTERN ======= */
.bg-pattern {
    background-image: url("data:image/svg+xml,%3Csvg id='patternId' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='122.75' height='125.8' patternTransform='scale(2) rotate(0)'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23bcbcc7ff'/%3E%3Cpath d='M33.13 0l14.12 28.5L61.37 0zm28.24 0L75.5 28.5 89.63 0zM0 .06V28.5h14.06zM14.06 28.5h28.25L28.19.06zM94.56.06L80.44 28.5h28.19zm14.07 28.44h28.25L122.75.06zM61.37 10l-9.18 18.5h18.37zM0 34.44v28.5l14.06-28.5zm14.06 0l14.13 28.5 14.12-28.5zm14.13 28.5H0l14.06 28.43zm19.06-28.5l-14.12 28.5h28.24zm14.12 28.5h28.26L75.5 34.44zm0 0L47.25 91.37H75.5zM75.5 91.37h28.2L89.64 62.94zm-28.25 0L33.13 62.94 19 91.37zm4.94-56.93L61.37 53l9.2-18.56zm28.25 0l14.06 28.5 14.13-28.5zm28.19 0l14.12 28.5 14.13-28.5zm14.12 28.5H94.5l14.13 28.43zM0 72.87v18.5h9.19zm122.75 0l-9.19 18.5h18.38zM0 97.31v18.57l9.19-18.57zm14.06 0L0 125.81h28.19zm4.94 0l14.13 28.5 14.12-28.5zm28.25 0l14.12 28.5 14.13-28.5zm28.25 0l14.13 28.5 14.06-28.5zm33.13 0l-14.07 28.5h28.19zm4.93 0l9.19 18.57 9.19-18.57z' stroke-width='1' stroke='none' fill='%23f3f3f3ff'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%25' height='800%25' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E");
}

.dark .bg-pattern {
    background-image: url("data:image/svg+xml,%3Csvg id='patternId' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='122.75' height='125.8' patternTransform='scale(2) rotate(0)'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='hsla(240,6.7%25,17.6%25,1)'/%3E%3Cpath d='M33.13 0l14.12 28.5L61.37 0zm28.24 0L75.5 28.5 89.63 0zM0 .06V28.5h14.06zM14.06 28.5h28.25L28.19.06zM94.56.06L80.44 28.5h28.19zm14.07 28.44h28.25L122.75.06zM61.37 10l-9.18 18.5h18.37zM0 34.44v28.5l14.06-28.5zm14.06 0l14.13 28.5 14.12-28.5zm14.13 28.5H0l14.06 28.43zm19.06-28.5l-14.12 28.5h28.24zm14.12 28.5h28.26L75.5 34.44zm0 0L47.25 91.37H75.5zM75.5 91.37h28.2L89.64 62.94zm-28.25 0L33.13 62.94 19 91.37zm4.94-56.93L61.37 53l9.2-18.56zm28.25 0l14.06 28.5 14.13-28.5zm28.19 0l14.12 28.5 14.13-28.5zm14.12 28.5H94.5l14.13 28.43zM0 72.87v18.5h9.19zm122.75 0l-9.19 18.5h18.38zM0 97.31v18.57l9.19-18.57zm14.06 0L0 125.81h28.19zm4.94 0l14.13 28.5 14.12-28.5zm28.25 0l14.12 28.5 14.13-28.5zm28.25 0l14.13 28.5 14.06-28.5zm33.13 0l-14.07 28.5h28.19zm4.93 0l9.19 18.57 9.19-18.57z' stroke-width='1' stroke='none' fill='%23000000ff'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%25' height='800%25' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E");
}

/* SCROOOLL */
.scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}
.dark :not(.scrollbar-hide)::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.dark :not(.scrollbar-hide)::-webkit-scrollbar-track {
    background: transparent;
}
.dark :not(.scrollbar-hide)::-webkit-scrollbar-thumb {
    background: oklch(1 0 0 / 15%);
    border-radius: 999px;
}
.dark :not(.scrollbar-hide)::-webkit-scrollbar-thumb:hover {
    background: oklch(1 0 0 / 25%);
}

/* Inputt */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* -webkit-box-shadow: 0 0 0px 1000px hsl(var(--card)) inset !important; */
    -webkit-text-fill-color: hsl(var(--foreground)) !important;
    caret-color: hsl(var(--foreground)) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #1c1c1c inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}
input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button,
input::-webkit-password-auto-fill-button {
    display: none !important;
}
